@CHARSET "UTF-8";

html, body {
	height: 100%;
}

div, body, ul, li {
	margin: 0;
	padding: 0;
}
body {
	background-image: url('../img/auroraborealisfromspace.jpg');
	background-repeat:no-repeat;
	background-size: 100% 100%
}

#floater {
	position: relative;
	float: left;
	width: 1px;
	height: 50%;
}

#container {
	position:relative; clear: left;
	width: 45%;
	height: 10%;
	min-width: 400px;
	margin: 0 auto;
}

nav {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	
	-webkit-box-pack: center;
	-moz-box-align: center;
	box-align: center;
	
	height: 100%;
}
nav ul {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	
	height: 100%;
	list-style:none;
	font-size: 13pt;
	background: rgba(0,0,0,.6);
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

nav ul li {
	text-align: center;
	min-width: 100px;
}

nav ul li a {
	text-decoration: none;
	color: rgba(200, 200, 200, 1);
	padding: 5px;
}

footer {
	font-size:8px;
	position: absolute; right:0;
}