@CHARSET "UTF-8";

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}


body {
	font-family: 'Trebuchet MS', 'Lucidia Sans Unicode', Arial, sans-serif;
	font-szie: 1em;
	color: rgba(255, 255, 255, 1);
	
	background-color: black;
	background-image: url('../img/aurora_from_space.jpg');
	background-repeat:no-repeat;
	background-size: auto 100%;
	background-position: center;
	
	}

a {
	text-decoration: none;
	color: rgba(200, 200, 200, 1);
}
.main {
	display: box;
	display: -webkit-box;
	display: -moz-box;
	
	box-orient: vertical;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	
	box-pack: start;
	-webkit-box-pack: start;
	-moz-box-pack: start;

	box-align: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	
	box-orient: vertical;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	
	height: 100%;
	width: 100%;
	
}


.menu {
	padding: 0px;
	margin: 0;
	margin-top: 100px;
	
	max-width: 75%;
	min-width: 300px;
	
	display: inherit;
	
	box-orient: horizontal;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	
	box-pack: center;
	-webkit-box-pack: center;
	-moz-box-pack: center;	
	
	list-style: none;
	
	background-color: rgba(0, 0, 0, 0.6);
	
	border: 2px solid rgba(255,255,255,0.6);
	
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	
	overflow: auto;
	
}


.menu a{
	margin: 0;
	display: block;

	text-align: center;
	min-width: 100px;
	padding: 8px;
}


.menu li:hover {
	-webkit-box-shadow: 0 0 10px rgba(255,255,255,0.5);
	-moz-box-shadow: 0 0 10px rgba(255,255,255,0.5);
	box-shadow: 0 0 10px rgba(255,255,255,0.5);
}


.content {
	display: none;
	
	background-color: rgba(0, 0, 0, 0.6);
	border: 2px solid rgba(255,255,255,0.6);
	
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	
    
    padding: 8px;
    width: 600px;
}


.content h1 {
	font-size: 1.5em;
	margin: 3px;
	padding: 0;
}


#copyright {
	font-size: 0.8em;
	text-align: center;
	margin-top: 5px;
	width: 100%;
}


#bg_credit {
	font-size: 0.6em;
	margin: 5px;
	position: absolute;
	bottom: 0; right:0;
}

a.dev_login {
	text-decoration: none;
	font-size: 0.6em;
	font-style: italic;
	margin: 5px;
	position: absolute;
	bottom: 0; left:0;
	color: rgba(200, 200, 200, 1);
}

div#login {
	display: none;
	padding: 2px;
	margin: 0;	
}

.label_login {
	

	}